*{
	box-sizing: border-box;
}
body{
	font-family: Arial;
	margin: 0;
	background: url(../images/background3.jpg) no-repeat top center fixed;
	padding: 50px 0 0 0;
}

.container{
	width: 960px;
	margin: 0 auto;

}

.header{
	width: 960px;
	padding: 0 0 20px 0;
	border-bottom: 1px dotted #344d54;
}

.logo{
	width: 601px;
	height: 201px;
	display: block;
	margin: 0 auto;
	background: url(../images/superhero_logo.png) no-repeat;
}
.hideText{
	margin-left:-999999px;
}
.header ul{
	margin: 20px auto 0;
	padding: 0;	
	width: 500px;
}

.header ul li{
	list-style: none;
	display: inline-block;
	margin: 0 0 0 20px;
	
}

.header ul li a{
	text-decoration: none;
	display: block;
	padding:5px;
	color: #70aaba;
	text-transform: uppercase;
	font-family: 'Carter One';
	font-size: 1.5em;
}
a.viewCart{
	position: absolute;
	right: 0;
	top: 10px;
	color: #fff;
}
.main{
	width: 960px;
	clear: both;	 
	overflow: auto;
	position: relative;
	min-height: 400px;
}
h2{
	font-size: 2.5em;
	color: #fff;
	font-family: 'Carter One';
	margin: 20px 0 0 0;
}
p.intro{
	font-size: 1.2em;
	color: #ccc;
	margin: 10px 0 30px 0;
}
.features{
	width: 306px;
	float: left;
	margin: 0 20px 20px 0;
	height: 600px;
	background: #fff;
}
.features a{
	color: red;
}
.features p{
	padding: 0 20px;
	color: #2E2E2E;
}
.last{
	margin: 0 0 20px 0;
}
.features h3 a{
	font-size: 1.5em;
	padding: 0 20px;
	font-family: 'Carter One';	
	color: black;
	text-decoration: none;
}
form{
	padding: 0 20px;
}
.footer{
	text-align: center;
	width: 960px;
	padding:20px;
	color: #333;
	font-size: 0.8em;
}
input[type="text"]{
	padding: 5px;
	height: 30px;
	width: 80px;
}
input[type="submit"]{
	height: 30px;
	border: 0;
	background: #000;
	color: #fff;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.price{
	display: block;
	font-size: 1.5em;
	color: #3084A6;
	font-weight: bold;
}


/* DETAIl PAGE*/
.detail{
	padding: 0 0 50px 0;
	background: #fff;
}
.detail a.viewCart{
	color: #000;
	position: absolute;
	right: 0;
	top: 10px;
	margin: 10px 50px 0 0;
}
.detail h2{
	margin: 0 0 20px 0;
	color: #333;
	font-size: 3em;
}
.detail p.intro{
	font-size: 1em;
}
.description{
	float: left;
	width: 540px;	
	padding: 20px;
}
.detail img{
	float: left;
	padding: 40px;
}

.detail p{
	color: #666;
}
.detail form{
	margin: 20px 0 0 0;
	padding: 0;
}
.detail input[type="text"]{
	
}
.detail .price{
	font-size: 2em;
}

/* DETAIL PAGE END*/

/* VIEW CART */
.viewCart{
	background: none;
	padding: 0 0 50px 0;
}
.row{
	background: #fff;
	padding: 20px;
	overflow: auto;
	display: table;
	width: 960px;
	margin: 0 0 1px 0;
}
.row img{
	float: left;
	width: 150px;
	margin: 0 30px 0 0;
	display: table-cell;
	vertical-align: middle;
}
.row h2{
	color: #333;
	margin: 0;
	font-size: 1.8em;
	display: table-cell;
	vertical-align: middle;
}
.row .title{
	width: 400px;
	display: table-cell;
	vertical-align: middle;
}
.row .title a{
	color: red;
}
.row .price{
	width: 100px;
	display: table-cell;
	vertical-align: middle;
	font-size: 1.8em;
}
.row .qty{
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}
.row .update{
	width: 100px;
	display: table-cell;
	vertical-align: middle;
}
.row .total{
	width: 100px;
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	font-weight: bold;
	text-align: right;
	padding: 0 50px;
	color: #8F8F8F;
}
.row .totalPrice{
	width: 100px;
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	font-weight: bold;
}
input[type="submit"].checkout{
	float: right;
	height: 40px;
	display: block;
	background: #4A9428;
	margin: 20px 0 0 0;
	color: #000;
	font-weight: bold;
}



/* VIEW CART END */


/* ADMAIN CSS*/
a.addProduct{
	position: absolute;
	right: 0;
	top: 10px;
	color: yellow;
}
p.intro a{
	color: red;
	font-weight: normal;
}
.editForm label{
	font-weight: bold;
	display: block;
	margin: 0 0 10px 0;
}
.editForm input[type="text"]{
	padding: 10px;
	width: 200px;
	margin: 0 0 10px 0;
}
.editForm textarea{
	width: 500px;
	padding: 10px;
	font-family: Arial;
	height: 200px;
	margin: 0 0 10px 0;
}
.editForm input[type="submit"]{
	margin: 20px 0 0 0;
}
/* ADMAIN CSS END*/

/* ABOUT US*/

.box{
	width: 960px;
	height: 450px;
	font-family: 'Carter One';
	color: white;
	font-size: 25px;
	position: relative;
	top: -45px;
	
	
}

.desc{
	font-size: 20px;
}

.contentbox{
	color: white;
	height: 250px;
	width: 350px;
	position: relative;
	left: 520px;
	top: -130px;
	font-family: 'Merienda';
	font-size: 20px;
	margin: 20px 20px 20px 20px;
}

.logos{
	position: relative;
	top: -240px;
	
	
}

.rectitle{
	position: absolute;
	top: 300px;
	font-family:'Merienda';
}

.remainder{
	
	width: 900px;
	height: 77px;
	position: relative;
	top: -170px;
	left: 30px;
	font-family: 'Arapey', serif;
	font-size: 22px;
}

/* ABOUT US PAGE END*/


/* CONTACT US PAGE */
.submitfield{
	color: white;
}

input[type=text]{
	font-size: 1.2em;
	margin-bottom: 1em;
	width: 240px;
}
.form{
	height: 500px;
}
.form h1{
	font-family: 'Carter One';
	color: white;
	font-size: 45px;
}

.content{
	color: white;
	width: 300px;
	position: absolute;
	left: 400px;
	top: 120px;
	font-size: 22px;
}

.submitbutton{
	position: absolute;
	left: 10px;
}

/* CONTACT US PAGE END */